files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/21install_oracle.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      set -xe

      # This script is executed immediately after the application is unpacked
      # in the staging directory. Before npm install.

      # Don't reinstall
      if [[ -d "/usr/lib/oracle/12.1/client64/lib" ]] ; then exit 0 ; fi

      # Load environment data
      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config  container -k app_staging_dir)

      # Install instant client
      cd $EB_APP_STAGING_DIR/.ebextensions/oracle
      rpm -ivh oracle-instantclient12.1-basic-12.1.0.2.0-1.x86_64.rpm
      rpm -ivh oracle-instantclient12.1-devel-12.1.0.2.0-1.x86_64.rpm
